@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: rgb(214, 210, 210);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.header {
  font-size: 24px;
  color: #f9faf8;
  border: 1px solid #1f2937;
  display: flex;
  /* border: 1px solid yellow; */
}

.logo {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  width: 30%;
  padding-top: 10px;
}
nav {
  /* display: flex; */
  width: 40%;
  padding-left: 320px;
}
nav > ul {
  /* border: 1px solid yellow; */
  width: 35vw;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
}

.header,
.content1,
.footer {
  color: rgb(250, 244, 244);
  background: #1f2937;
}

.content1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  padding: 150px;
  padding-top: 75px;
}

#left-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.flex-container {
  /* border-color: green;
  border-style: solid; */
  display: flex;
}

.left-item {
  /* border-color: red;
  border-style: solid; */
  height: 200px;
  padding: 40px;
  width: 50%;
}

.right-item {
  /* border-color: red;
  border-style: solid; */
  padding: 40px;
  background: grey;
  font-size: 20px;
  height: 200px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
